[Unit]
Description=Atari Kid Grid Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/kidgrid "/tnfs/Atari_8-bit/Games/High Score Enabled/Kid Grid.atr" "/scores/kidgrid.html"

[Install]
WantedBy=multi-user.target
