[Unit]
Description=Atari LodeRunner Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/loderunner "/tnfs/Tutti Frutti (BASIC).atr" "/var/www/html/loderunner.html"

[Install]
WantedBy=multi-user.target
