[Unit]
Description=Atari Tutti Frutti Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/tuttifrutti "/tnfs/Tutti Frutti (BASIC).atr" "/var/www/html/tuttifrutti.html"

[Install]
WantedBy=multi-user.target
