[Unit]
Description=Atari Snokie Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/snokie "/tnfs/Snokie.atr" "/var/www/html/snokie.html"

[Install]
WantedBy=multi-user.target
