[Unit]
Description=Atari Qix Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/qix "/tnfs/Atari_8-bit/Games/High Score Enabled/Qix.atr" "/scores/qix.html"

[Install]
WantedBy=multi-user.target
