[Unit]
Description=Atari Track Attack Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/trackattack "/tnfs/Atari 8-bit/Games/High Score Enabled/Track Attack.atr" "/var/www/atari-scores/track-attack.html"

[Install]
WantedBy=multi-user.target
