[Unit]
Description=Atari Frogger Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/frogger "/tnfs/Frogger.atr" "/var/www/html/frogger.html"

[Install]
WantedBy=multi-user.target
