[Unit]
Description=Atari Frogger Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/jawbreakerii "/tnfs/Jawbreaker II.atr" "/var/www/html/jawbreaker-ii.html"

[Install]
WantedBy=multi-user.target
