[Unit]
Description=Atari Rear Guard Hi-scores
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/rearguard "/tnfs/Rear Guard (BASIC).atr" "/var/www/html/rearguard.html"

[Install]
WantedBy=multi-user.target
